doctype
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="./css/main.css")
        script(src="main.js")
        script.
            window.onload = function() {
                
            }
    body
        div.box#box
            ul
                each a in arr
                    li= a
            p.
                ajidanidsaisdnaaska
                adasas
                assyuojingnihao
                main
            p 用户名字：
                = name
                = a+b
            